.DS_Store

xcuserdata/

build/

*.framework

Pods/*
*.xcworkspace
Podfile.lock

docs/*

PixelKitShaders-10.14.metallib
PixelKitShaders-10.15.metallib
PixelKitShaders-14.metallib
PixelKitShaders-15.metallib

*_diff.png

/Resources/Frameworks/NDI/libndi_ios.a
/Resources/Frameworks/NDI/libndi_ios_org.a



.build/*
